.black-theme {
  &__color {
    background-color: $pageColorSecondary;

    &_footer {
      background-color: $pageColorSecondaryFooter;
    }

    &_bright {
      color: $textColorTitleSecondary;
    }

    &_text {
      color: $textColorOtherSecondary;
    }

    &_text-intro {
      color: $textColorOtherSpecial;
    }

    &_logo {
      color: $LogoColorFooterSecondary;
    }

    &_btn-slider {
      background-color: $IconColorSlider;
    }

    &_bike-container {
      background-color: $pageColorSecondary;
    }

    &_bike-names {
      color: $textColorTitleMain;
    }
    
  }
}
