.page {
    @include border-box();
    @include margin();
    max-width: $screen-desktop;
    min-width: $screen-mobile-low;
    font-family: $fontFamilyPage;
    background-color: $pageColorMain;
    overflow-x: hidden;

    &__container {
        @include flex(column);
        @include margin();
        width: $percentWidth;
        position: relative;
        min-height: 100vh;
    }
}