.tabs {
    &__container {
        padding: 0;
        margin-right: 120px;
    }

    &__head-block {
        @include flex(row, nowrap, space-between, stretch, center);
        width: $percentWidth;
    }

    &__title {
        max-height: $secondTitleHeight;
        height: $percentHeight;
        max-width: $titleWidth;
        width: $percentWidth;
        font-size: $fontSizeTitle;
        line-height: $lineHeightTitle;
        letter-spacing: $letterSpaceTitle;
        font-weight: $fontWeightTitle;
        @include zeroing();
    }

    &__head {
        list-style-type: none;
        @include flex();
        gap: 40px;
        @include zeroing();
    }

    &__caption {
        font-size: $fontSizeMain;
        line-height: $lineHeightSecondary;
        font-weight: $fontWeightUtility;
        opacity: 0.7;
        cursor: pointer;

        &:hover {
            opacity: 0.6;
            transition: 0.3s linear;
        }

        &_active {
            font-weight: $fontWeightSecondary;
            opacity: 1;

            &:hover {
                opacity: 0.75;
                transition: 0.3s linear;
            }

        }
    }

    &__body {
        overflow: hidden;
        list-style-type: none;
    }

    &__content {
        display: none;
        gap: 30px;
        overflow: hidden;
        @include zeroing();

        &_active {
            display: block;
            @include flex();
        }
    }

    &__bike-block {
        @include border-box();
        margin-top: 120px;
        margin-bottom: 60px;
        list-style-type: none;
        max-width: $bikeImgWidth;
        width: $percentWidth;
    }

    &__img-container {
        position: relative;
        background-color: #F4F4F4;
        box-shadow: 0 20px 140px 0 rgba(0, 0, 0, 0.06);
        @include border-box();
        border-radius: 20px;
        max-width: $bikeImgWidth;
        max-height: $bikeImgHeight;
        width: $percentWidth;
        height: $percentHeight;
    }

    &__img {
        @include background();
        width: $percentWidth;
        height: $percentHeight;
        max-width: $bikeImgWidth;
        max-height: $bikeImgHeight;
        object-fit: contain;
    }

    &__text {
        font-weight: $fontWeightSecondary;
        font-size: $lineHeightMain;
        line-height: $lineHeightSupporting;
    }

}