.intro {
    @include flex(row, nowrap, space-between);
    margin-top: 74px;


    &__descriptions {
        @include flex(column);
        gap: 50px;
        @include margin(80px, 0, 0, 0);
    }

    &__title {
        @include title();
    }

    &__text {
        @include text();
    }

    &__button {
        background-color: $buttonColor;
        padding: 16px 10px;
        max-width: $buttonWidth;
        border-radius: 4px;
        position: relative;
        @include border-box();
        cursor: pointer;
        @include margin(0, 0, 167px, 0);
        border: none;
        text-align: center;

        &:before {
            content:'';
            position: absolute;
            top: 0;
            right: 0;
            width: 0;
            height: 50px;
            background-color: $buttonColorHover;
            transition: all 1s ease;
        }

        &:hover:before {
            width: $percentWidth;
        }
    }

    &__button-link {
        color: $textColorTitleSecondary;
        z-index: 4;
        position: relative;
        font-size: $fontSizeUtility;
        line-height: $lineHeightMain;
        font-weight: $fontWeightSecondary;
        letter-spacing: $letterSpaceUtility;
        text-decoration: none;
    }

    &__bike-block {
        @include flex();
        gap: 30px;
    }

    &__bike-name {
        @include margin(0, 0, 0, 0);
        font-size: $fontSizeMain;
        line-height: $lineHeightMain;
        font-weight: $fontWeightUtility;
    }

    &__icon-line {
        background-image: url('../images/icon_line.svg');
        width: 132px;
        height: 2px;
        align-self: center;
    }

    &__pictures {
        position: relative;
    }

    &__bike-container {
        @include border-box();
        height: 100%;
        max-height: 430px;
        max-width: 440px;
        position: relative;
        margin-right: calc(10px + (500 - 10) * ((100vw - 320px) / (1440 - 320)));
        margin-top: 347px;

        &_white {
            background-color: #F4F4F4;
        }
    }

    &__bike-fix {
        position: -webkit-sticky;
        position: -moz-sticky;
        position: -ms-sticky;
        position: -o-sticky;
        position: sticky;
        top: 250px;
        max-width: calc(440px - 100px);
        width: $percentWidth;
        padding: 20px 50px;
        height: 260px;
        background-color: $pageColorMain;
        background-repeat: no-repeat;
        object-fit: cover;
        z-index: 2;
        @include bike-container();
    }

    &__main-img {
        position: absolute;
        top: 20px;
        right: 0;
        max-width: $imgLongSize;
        width: $percentWidth;
        overflow: hidden;
        object-fit: cover;
    }
}