$pageColorMain: #F4F4F4;
$pageColorMainFooter: #EFEFEF;
$pageColorSecondary: #333;
$pageColorSecondaryFooter: #2F2F2F;
$textColorTitleMain: #151515;
$textColorOtherMain: #222222;
$AllIconColorFooterMain: #CFCFCF;
$textColorTitleSecondary: #FFFFFF;
$textColorOtherSecondary: #E5E5E5;
$LogoColorFooterSecondary: #565656;
$IconColorFooterSecondary: #676767;
$buttonColor: #24B47E;
$buttonColorHover: #319E75;
$buttonBackColorSecondary: #545454;
$borderColorMainMobile: #E3E3E3;
$borderColorMainFooter: rgba(199, 199, 199, 0.5);
$borderColorSecondary: rgba(125, 125, 125, 0.5);
$borderColorStrelka: #EBEBEB;
