$fontFamilyPage: 'Inter', Arial, sans-serif;
$fontSizeTitle: 3.4375em; //55px
$fontSizeMain: 1.125em; // 18px
$fontSizeUtility: 0.875em; //14px
$fontSizeSecondary: 2.125em; //34px
$fonSizeAuthor: 1.25em; //20px
$fontSizeProff: 1em; //16px
$lineHeightTitle: 1.1em; //60px
$lineHeightMain: 1.125em; //18px
$lineHeightUtility: 2.75em; //44px
$lineHeightSecondary: 1.75; //28px
$lineHeightAuthor: 2em;
$fontWeightTitle: 700;
$fontWeightMain: 500;
$fontWeightSecondary: 600;
$fontWeightUtility: 400;
$letterSpaceTitle: -0.5px;
$letterSpaceUtility: 1px;
