$fontFamilyPage: 'Inter', Arial, sans-serif;
$fontSizeTitle: 55px; 
$fontSizeLaptop: 40px; 
$fontSizeTablet: 32px; 
$fontSizeMain: 18px; 
$fontSizeUtility: 14px; 
$fontSizeSecondary: 34px; 
$fonSizeAuthor: 20px; 
$fontSizeProff: 16px;
$fonSizeTitleFooter: 24px; 
$fontSizeInputIcon: 13px;
$fontSizeTextLow: 12px;
$lineHeightTitle: 60px; 
$lineHeightTitleLaptop: 40px; 
$lineHeightMain: 18px; 
$lineHeightUtility: 44px; 
$lineHeightSecondary: 28px; 
$lineHeightSupporting: 22px; 
$lineHeightAuthor: 32px; 
$fontWeightTitle: 700;
$fontWeightMain: 500;
$fontWeightSecondary: 600;
$fontWeightUtility: 400;
$letterSpaceTitle: -0.5px;
$letterSpaceUtility: 1px;
