$percentWidth: 100%;
$percentHeight: 100%;
$buttonWidth: 180px;
$titleWidth: 460px;
$titleHeight: 120px;
$secondTitleHeight: 60px;
$imgPrimarySize: 650px;
$imgSecondarySize: 580px;
$imgLongSize: 610px;
$bikeImgWidth: 380px;
$bikeImgHeight: 374px;
$quoteBlock: 470px;
$trainBlock: 460px;
