.merks {
    width: $percentWidth;
    box-sizing: border-box;
    padding: 329px 0 60px 0;
    width: $percentWidth;

    &__container {
        @include flex();
        gap: 80px;
        width: $percentWidth;
    }

    &__img {
        width: $percentWidth;
        max-width: $imgPrimarySize;
        object-fit: cover;
    }

    &__quote-block {
        max-width: $quoteBlock;
        @include flex(column, wrap, space-between);
    }

    &__quote {
        @include zeroing();
        font-size: $fontSizeSecondary;
        font-weight: $fontWeightSecondary;
        line-height: 44px;
        letter-spacing: $letterSpaceTitle;
    }

    &__author-block {
        @include zeroing();
        @include flex(column, wrap)
    }

    &__name {
        margin: 0 0 6px 0;
        font-size: $fonSizeAuthor;
        font-weight: $fontWeightMain;
        line-height: $lineHeightAuthor;
    }

    &__profession {
        @include zeroing();
        font-size: $fontSizeProff;
        font-weight: $fontWeightUtility;
        line-height: $lineHeightSecondary;
        opacity: 0.7;
    }
}