.merks {
    box-sizing: border-box;
    padding-bottom: 60px;
    margin-top: calc(80px + (329 - 80) * ((100vw - 320px) / (1440 - 320)));
    

    @media screen and (max-width: 766px) {
        border-top: 1px solid #E3E3E3;
        margin-right: calc(18/320 * 100%);
        padding-top: 40px;
        margin-top: 0;
    }

    &__container {
        display: grid;
        grid-template-columns: minmax(300px, 650px) minmax(300px, 470px);
        column-gap: 80px;
        width: $percentWidth;
        box-sizing: border-box;

        @media screen and (max-width: 766px) {
            display: block;
            box-sizing: border-box;
        }

    }

    &__img {
        width: $percentWidth;
        // max-width: $imgPrimarySize;
        object-fit: cover;
        box-sizing: border-box;

        @media screen and (max-width: 484px) {
            max-width: calc(284px + (437 - 284) * ((100vw - 320px) / (484 - 320)));
        }
    }

    &__quote-block {
        @include flex(column, wrap, space-between);
        gap: 40px;

        @media screen and (max-width: 766px) {
            margin-top: 40px;
        }

        @media screen and (max-width: 484px) {
            max-width: calc(284px + (437 - 284) * ((100vw - 320px) / (484 - 320)));
        }
    }

    &__quote {
        @include zeroing();
        font-size: calc(23px + (34 - 23) * ((100vw - 320px) / (1440 - 320)));
        font-weight: $fontWeightSecondary;
        line-height: calc(29px + (44 - 29) * ((100vw - 320px) / (1440 - 320)));
        letter-spacing: $letterSpaceTitle;
    }

    &__author-block {
        @include zeroing();
        @include flex(column, wrap)
    }

    &__name {
        margin: 0 0 6px 0;
        font-size: calc(14px + (20 - 14) * ((100vw - 320px) / (1440 - 320)));
        font-weight: $fontWeightMain;
        line-height: calc(22px + (32 - 22) * ((100vw - 320px) / (1440 - 320)));
    }

    &__profession {
        @include zeroing();
        font-size: calc(10px + (16 - 10) * ((100vw - 320px) / (1440 - 320)));
        font-weight: $fontWeightUtility;
        line-height: calc(16px + (28 - 16) * ((100vw - 320px) / (1440 - 320)));
        opacity: 0.7;
    }
}