@mixin burgerLines() {
    position: absolute;
    left: 0;
    height: 15.78%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: $textColorTitleMain;
}

@mixin whiteBurgerLines() {
    background-color: white;
}

