@mixin text() {
    @include margin(0, 0);
    padding: 0;
    max-width: $titleWidth;
    width: $percentWidth;
    font-weight: $fontWeightUtility;
    font-size: calc(12px + (18 - 12) * ((100vw - 320px) / (1440 - 320)));
    line-height: calc(18px + (28 - 18) * ((100vw - 320px) / (1440 - 320)));
    opacity: 0.7;
    
}